.button {
  @include input-reset;
  display: block;
  width: 100%;
  padding: 12px 12px;

  font-family: $ff-oswald;
  font-size: 14px;
  line-height: 18px;
  background-color: $color-apple;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;

  border: none;
  cursor: pointer;

  &:hover {
    background-color: $color-limeade;
  }

  &:active,
  &:focus {
    background-color: $color-limeade;
    color: rgba($color-white, 0.3);
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &--second {
    @include input-reset;
    display: block;
    width: 100%;
    padding: 12px 12px;

    font-family: $ff-oswald;
    font-size: 14px;
    line-height: 18px;
    background-color: $color-white-smoke;
    color: $color-charcoal;
    text-align: center;
    text-transform: uppercase;

    border: none;
    cursor: pointer;

    &:hover {
      background-color: $color-whisper-3;
    }

    &:active,
    &:focus {
      background-color: $color-whisper-3;
      color: rgba($color-black, 0.3);
    }

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}
