.example {
  padding: 25px 0 40px 0;
  background-color: $color-whisper-2;
  overflow: hidden;

  @media (min-width: $vp-768) {
    padding: 0 0 100px 0;
    background-color: $color-white;
    border-top: 1px solid $color-whisper;
  }

  @media (min-width: $vp-1024) {
    padding: 0;
    border: 0;
  }
}

.example__wrapper {
  max-width: 470px;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    max-width: unset;
    margin: 0;
  }

  @media (min-width: $vp-1024) {
    display: grid;
    grid-template-columns: 1fr 560px;
    gap: 10px;
    align-items: end;
  }
}

.example__history-wrapper {
  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
    margin-bottom: -27px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 0;
  }
}

.example__title {
  margin: 0 0 40px 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $vp-768) {
    margin: 0 0 43px 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $vp-1024) {
    margin: 0 0 76px 0;
  }
}

.example__content-wrapper {
  @media (min-width: $vp-1024) {
    position: relative;
    max-width: 446px;
    padding: 70px 2% 74px 0;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100vw;
      width: 200vw;
      height: 100%;
      background-color: $color-whisper-2;
      z-index: -1;
    }
  }
}

.example__text {
  margin: 0 0 20px 0;
  font-family: $ff-lato;
  font-size: 14px;
  line-height: 18px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    margin: 0 0 34px 0;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 69px;
  }
}

.example__stats {
  margin-bottom: 20px;

  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 99px;
  }

  @media (min-width: $vp-1024) {
    display: block;
    margin-bottom: 0;
  }
}

.example__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 11%;
  max-width: 320px;
  margin: 0 auto 10px;

  @media (min-width: $vp-768) {
    grid-template-columns: repeat(auto-fill, 162px);
    gap: 8%;
    width: 100%;
    max-width: none;
    margin: 0;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 20px;
    gap: 10%;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 162px;


  @media (min-width: $vp-768) {
    // padding: 0;
  }
}

.example__number {
  position: relative;
  width: 100%;
  margin-bottom: 7px;
  padding: 13px 14px 17px 14px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid $color-very-light-grey;
  border-radius: 3px;

  @media (min-width: $vp-768) {
    // padding: 15px 4% 16px 4%;
    padding: 15px 14px 18px 14px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  width: 81px;
  height: auto;
  margin: 0;
  font-family: $ff-lato, "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  background-color: $color-whisper-2;
  color: $color-charcoal;
  text-align: center;
  transform: translateY(-18px);

  @media (min-width: $vp-768) {
    width: max-content;
    max-width: 146px;
    padding: 0 9px 0 9px;
    font-size: 14px;
    line-height: 14px;
    background-color: $color-white;
    transform: translateY(-16px);
  }

  @media (min-width: $vp-1024) {
    background-color: $color-whisper-2;
  }
}

.example__rezult {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $color-black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
    min-width: 176px;
    // margin-left: auto;
    padding-top: 11px;
    // text-align: right;
    font-size: 20px;
    text-align: end;
    // transform: translateX(16px);

    @media (min-width: $vp-1024) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      max-width: 327px;
    }
  }
}

.example__rezult-text {
  @media (min-width: $vp-768) {
    margin-bottom: 10px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 0;
  }
}

.example__comparison {
  position: relative;
  display: flex;
  width: 280px;
  height: 256px;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    width: 560px;
    height: 512px;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 151px;
      left: -100vw;
      width: 200vw;
      height: 100%;
      background-color: $color-whisper-2;
      z-index: -1;

      @media (min-width: $vp-1024) {
        display: none;
      }
    }
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 85px;
  }
}
