.form {
  padding-top: 27px;
  border-top: 1px solid $color-gainsboro;
}

.form__title {
  width: 280px;
  margin: 0 auto 37px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.form__text {
  width: 280px;
  margin: 0 auto 15px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__order  {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__fieldset {
  @include fieldset-reset;
  padding: 11px 0 14px;

  &--cat {
    padding: 24px 0 10px;
    border-bottom: 1px solid $color-gainsboro;
    color: $color-charcoal;
  }

  &--program {
    padding: 22px 0 19px;
    border-bottom: 1px solid $color-gainsboro;
    color: $color-nero;
  }

  &--owner {
    // padding: 26px 0 12px;
    color: $color-charcoal;
  }
}

.form__list {
  @include list-reset;
  width: 280px;
  margin: 0 auto;
}

.form__label {
  display: flex;
  align-items: center;
  margin: 0 0 14px 0;

  &--radio {
    position: relative;
    padding-top: 10px;
    padding-left: 45px;
  }

  &--checkbox {
    position: relative;
    padding-top: 10px;
    padding-left: 45px;
  }

  &--comment {
    display: block;
    width: 280px;
    margin: 0 auto;
  }
}

.form__label-name {
  margin-right: 13px;
}

.form__field {
  flex-grow: 1;
  width: 100%;
  padding: 13px 20px 13px 20px;
  font-family: $ff-oswald;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid $color-whisper-4;

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    color: $color-charcoal;
    text-transform: uppercase;
  }
}

.form__mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $color-very-light-grey;

  &::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: transparent;
  }
}

.form__mark-checkbox {
  position: absolute;
  top: 2px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $color-very-light-grey;

  &::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 26px;
    height: 26px;
    background-image: url("../../img/svg/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
  }
}

.form__control-input:checked + .form__mark::before {
  background-color: $color-apple;
}

.form__control-input:checked + .form__mark-checkbox::before {
  opacity: 1;
}

.form__comment {
  padding: 12px 0 11px;
}

.form__textarea {
  display: block;
  min-width: 280px;
  min-height: 151px;
  margin: 0 auto;
  padding: 10px 12px 10px 15px;
  border: 1px solid $color-whisper-4;
  resize: none;

  &::placeholder {
    font-family: $ff-oswald;
    font-size: 16px;
    line-height: 18px;
    color: $color-charcoal;
    text-transform: uppercase;
  }
}

.form__subtitle {
  margin-bottom: 35px;
  padding: 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $color-black;
  text-transform: none;

  &--comment {
    margin: 0 0 38px;
  }
}

.form__field-group {
  margin: 0;
  font-size: 16px;
  line-height: 18px;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.form__submit {
  width: 280px;
  margin: 0 auto;
  padding: 20px 0 32px;
}

.form__submit-button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 12px;
  margin-bottom: 21px;
}

.form__text-required {
  display: block;
  font-family: $ff-lato;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
