.main-nav {
  position: relative;
}

.main-nav__list {
  @include list-reset;
  width: 100%;
}

.main-nav__wrappper {
  background-color: $white;
}

.main-nav__link {
  display: block;
  padding: 22px 20px 24px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $black;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid $special-grey-3;
}
