.main-header {
  position: relative;
  display: flex;
  min-height: 65px;

  @media (min-width: $vp-768) {
    width: auto;
    padding: 0 0 10px 0;
  }

  @media (min-width: $vp-1024) {
    padding: 53px 0 26px 0;
  }

  &.no-js {
    display: block;

    @media (min-width: $vp-768) {
      display: flex;
    }
  }
}

.main-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(50% + 51px);
  pointer-events: none;

  @media (min-width: $vp-768) {
    width: auto;
    margin-bottom: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-image {
  pointer-events: all;

  @media (min-width: $vp-768) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $vp-1024) {
    width: 202px;
    height: 59px;
  }

  &--text {
    width: 101px;
    height: 18px;

    @media (min-width: $vp-768) {
      display: none;
    }
  }
}

.main-header__nav-toggle {
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: auto;
  padding: 5px 3px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transform: translate(3px, 17px);

  .no-js & {
    display: none;
  }

  @media (min-width: $vp-768) {
    display: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    border-color: $color-charcoal;
  }
}

.main-header__toggle-line {
  position: relative;
  display: block;
  align-self: center;
  width: 100%;
  height: 2px;
  background-color: $color-black;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-black;
  }

  &::before {
    top: -8px;
  }

  &::after {
    top: 8px;
  }

  .is-open & {
    background-color: transparent;

    &::before,
    &::after {
      top: 0;
      left: 50%;

      width: 26px;
    }

    &::before {
      transform: translateX(-50%) rotate(45deg);
    }

    &::after {
      transform: translateX(-50%) rotate(-45deg);
    }
  }
}

.main-header__nav {
  @media (min-width: $vp-768) {
    display: flex;    ;
    margin-left: auto;
  }

  @media (min-width: $vp-1024) {
    width: 50%;
    padding: 0 0 0 15px;
  }
}

.main-header__nav-list {
  position: absolute;
  top: 65px;
  left: -20px;
  z-index: 3;
  display: none;
  width: calc(100% + 40px);
  @include list-reset;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $color-black;
  background-color: $color-white;
  text-transform: uppercase;


  @media (min-width: $vp-768) {
    position: static;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    column-gap: 35px;
    row-gap: 10px;
    background-color: transparent;
  }

  @media (min-width: $vp-1024) {
    min-width: 477px;
    margin-left: auto;
    font-size: 20px;
    line-height: 30px;
    column-gap: 7%;

    &--index {
      color: $color-white;
    }
  }

  .no-js & {
    position: static;
    display: block;
    width: 100%;

    @media (min-width: $vp-768) {
      display: flex;
    }
  }

  .is-open & {
    display: block;

    @media (min-width: $vp-768) {
      position: static;
      display: grid;
    }
  }
}

.main-header__nav-list--index .main-header__nav-link--current {
  @media (min-width: $vp-1024) {
    border-color: $color-white;
    transform: translateX(-3px);
  }
}

.main-header__nav-item {
  position: relative;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: calc(100% + 40px);
    height: 1px;
    background-color: $color-whisper;

    @media (min-width: $vp-768) {
      display: none;
    }
  }
}

.main-header__nav-link {
  display: block;
  padding: 22px 20px 24px 20px;
  color: inherit;

  @media (min-width: $vp-768) {
    padding: 18px 0 8px 0;
  }

  @media (min-width: $vp-1024) {
    padding: 18px 0 5px 0;
  }

  &--current {
    @media (min-width: $vp-768) {
      border-bottom: 2px solid $color-apple;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
    }

  &:active {
    opacity: 0.3;
  }
}
