.promo {
  display: flex;
  flex-direction: column;

  @media (min-width: $vp-1024) {
      position: relative;
  }
}

.promo__info-wrapper {
  position: relative;
  order: -1;
  width: 100%;
  padding: 27px 0 135px 0;
  color: $color-white;
  z-index: 1;

  @media (min-width: $vp-768) {
    padding: 52px 204px 38px 88px;
  }

  @media (min-width: $vp-1024) {
    width: 50%;
    padding: 85px 1% 53px 79px;
    z-index: unset;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 100vw;
    min-width: 320px;
    height: 100%;
    background-image: url("../img/index-background-mobile.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    z-index: -1;

    @media (min-width: $vp-768) {
      content: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 100vw;
    min-width: 320px;
    height: 100%;
    background-color: rgba($color-apple, 0.85);
    z-index: -1;

    @media (min-width: $vp-768) {
      display: none;
    }
  }
}

.promo__title {
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $vp-768) {
    max-width: 416px;
    margin: 0 0 41px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: $color-black;
    text-align: left;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 39px;
    position: relative;
    z-index: 2;
  }
}

.promo__slogan {
  margin: 0 0 29px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    width: 436px;
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: $color-black;
    text-align: left;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 0;
  }
}

.promo__image {
  position: relative;
  z-index: 2;
  display: block;
  margin: -135px auto 3px;

  @media (min-width: $vp-768) {
    width: 709px;
    margin: -83px auto 0 auto;
    z-index: -1;
  }

  @media (min-width: $vp-1024) {
    position: absolute;
    top: 86px;
    left: 448px;
    max-width: 552px;
    width: 50%;
    height: auto;
    z-index: 1;
  }
}

.promo__button {
  order: 1;
  width: 100%;
  padding: 12px 12px 10px 12px;

  @media (min-width: $vp-768) {
    order: 0;
    max-width: 244px;
    min-height: 54px;
    margin: 0 auto 0 91px;
    padding: 16px 26px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $vp-1024) {
    margin-left: 80px;
  }
}
