//Colors
$color-black: #000000;
$color-black-1: #111111;
$color-white: #ffffff;
$color-white-smoke: #f2f2f2;
$color-very-light-grey: #cdcdcd;
$color-whisper: #e6e6e6;
$color-whisper-2: #eaeaea;
$color-whisper-3: #ebebeb;
$color-whisper-4: #e7e7e7;
$color-gainsboro: #d9d9d9;
$color-silver: #bababa;
$color-apple: #68b738;
$color-limeade: #5eaa2f;
$color-nero: #222222;
$color-charcoal: #444444;
$color-dim-gray: #666666;
$color-light-coral: #ff8282;

//Typography
$ff-oswald: "Oswald", "Arial", sans-serif;
$ff-lato: "Lato", "Arial", sans-serif;

// Viewports
$vp-320: 320px;
$vp-767: 767px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1440: 1440px;
