@import "global/variables.scss";
@import "global/fonts.scss";
@import "global/global.scss";
@import "global/container.scss";
@import "global/mixins.scss";
@import "blocks/button.scss";
@import "blocks/main-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/promo.scss";
@import "blocks/program.scss";
@import "blocks/advantages.scss";
@import "blocks/example.scss";
@import "blocks/slider.scss";
@import "blocks/main-footer.scss";
@import "blocks/contacts.scss";
@import "blocks/catalog.scss";
@import "blocks/card.scss";
@import "blocks/features.scss";
@import "blocks/subcatalog.scss";
@import "blocks/form.scss";
